.idea/*

bin/.ipynb_checkpoints/*

*.pyc
*.egg-info
*.iml
**/.DS_STORE
.Rhistory

.cache/

test.py

models/Ours/logs/*
models/logs/*
models/Ours/experiments/*
*.log
summaries/*
logs/*
good_logs/*

datasets/liverani/log/*
datasets/nsclc_lung/*.npy
datasets/hgg/hgg.csv
datasets/nsclc_lung/clinical_data_basel.csv

bin/*.png
bin/*.txt
results_*
bin/*.csv
bin/models/
bin/radiomics_features_temp*

models/Ours/pretrain/*
models/pretrain/*

figures/*

.ipynb_checkpoints/
